# Core packages
streamlit
pandas
numpy
requests
plotly
beautifulsoup4
prettytable
lxml

# LangChain + LLM
langchain
langchain-community
langchain-core
langchainhub
langchain-ollama
huggingface_hub
sentence-transformers

# Vector store
faiss-cpu

# SEC tools (streamlit-safe)
sec-edgar-downloader
