streamlit
pandas
numpy
requests
plotly
beautifulsoup4
prettytable
lxml
langchain
langchain-community
langchain-core
langchainhub
langchain-ollama
huggingface_hub
sentence-transformers
faiss-cpu
sec-edgar-downloader
git+https://github.com/mahenrique94/sec-edgar-api.git@main#egg=sec-edgar-api
